.navbar{
  position: fixed!important;
  z-index: 10;
  width: 100%;
  height: 130px;
  background: rgb(253, 227, 206);
  font-size: 20px;
  font-family: Delius Swash Caps;
}

.navbar a:hover{
  background-color: rgba(79, 155, 60, 0.534);
}

.carousel-inner.vertical {
  height: 100%; /*Note: set specific height here if not, there will be some issues with IE browser*/
}

.carousel-inner.vertical > .item {
  -webkit-transition: 3s ease-in-out top;
  -o-transition: 3s ease-in-out top;
  transition: 3s ease-in-out top;
}
  
@media all and (transform-3d),
(-webkit-transform-3d) {
  .carousel-inner.vertical > .item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
    -o-transition: -o-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
  }
  .carousel-inner.vertical > .item.next,
  .carousel-inner.vertical > .item.active.right {
    -webkit-transform: translate3d(0, 33.33%, 0);
    transform: translate3d(0, 33.33%, 0);
    top: 0;
  }
  .carousel-inner.vertical > .item.prev,
  .carousel-inner.vertical > .item.active.left {
    -webkit-transform: translate3d(0, -33.33%, 0);
    transform: translate3d(0, -33.33%, 0);
    top: 0;
  }
  .carousel-inner.vertical > .item.next.left,
  .carousel-inner.vertical > .item.prev.right,
  .carousel-inner.vertical > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    top: 0;
  }
}
  
.carousel-inner.vertical > .active {
  top: 0;
}
.carousel-inner.vertical > .next,
.carousel-inner.vertical > .prev {
  top: 0;
  height: 100%;
  width: auto;
}
.carousel-inner.vertical > .next {
  left: 0;
  top: 33.33%;
  right:0;
}
.carousel-inner.vertical > .prev {
  left: 0;
  top: -33.33%;
  right:0;
}
.carousel-inner.vertical > .next.left,
.carousel-inner.vertical > .prev.right {
  top: 0;
}
.carousel-inner.vertical > .active.left {
  left: 0;
  top: -33.33%;
  right:0;
}
.carousel-inner.vertical > .active.right {
  left: 0;
  top: 33.33%;
  right:0;
}

#carousel-pager .carousel-control.left {
    bottom: initial;
    width: 100%;
}
#carousel-pager .carousel-control.right {
    top: initial;
    width: 100%;
}

/*FIn carrusel*/



h2.videosc{
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
    font-family: Delius Swash Caps;
}
.title-arch {
    text-align: center;
    margin: 50px 0;
    font-size: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: Delius Swash Caps;
}

.aligncenter{
text-align: center;
}
.project {
    width: 80%;
    height: 650px;
    background-size: cover;
    background-position: center;
    padding: 0 !important;
    margin-left: 30px;
    margin-top: 30px;
    float:left;
    font-family: Delius Swash Caps;
    }

.project-1{
    background-image: url(https://res.cloudinary.com/focloud/image/upload/c_scale,f_auto,fl_lossy,h_600,w_600/v1/FrauenOutfits.de/22081901_1566474523BusinessOutfit.png.jpg);
}
    
.project-2 {
    background-image: url(https://i.pinimg.com/originals/12/41/50/124150bb5e039b0724281fa1a48b08d1.jpg);
    }
    
.project-3 {
    background-image: url(https://www.outfits4you.de/wp-content/uploads/2018/03/gruen-schwarz-outfit-damen-elegant-kleid.jpg);
    }

.project-4 {
    background-image: url(https://i.pinimg.com/originals/74/2a/55/742a5588f8d52d18ef9f02f473f8cfe8.jpg);
    }

.project-5 {
    background-image: url(https://res.cloudinary.com/focloud/image/upload/c_scale,f_auto,fl_lossy,h_600,w_600/v1/FrauenOutfits.de/24071910_1563957196BodyEssentialsPyjama.png.jpg);
    }

.project-6 {
    background-image: url(https://dsuu72ioj2ytt.cloudfront.net/outfit/8f609be1efd903584d8f0842402eb3806a3bab8c_nike-lady-sport-outfit.jpg);
    }


.project-hover {
width: 100%;
height: 100%;
color: #fff;
opacity: 0;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
background-color: rgba(141, 105, 38, 0.534);
padding: 40% 30px !important;
}

.project-hover hr {
height: 30px;
width: 0;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
background-color: rgb(228, 197, 141);
border: 0;
}

.project-hover a {
color: rgba(255, 255, 255, 1);
padding: 2px 22px;
line-height: 40px;
border: 2px solid rgba(255, 255, 255, 1);
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}

.project-hover a:hover {
border-color: rgba(51, 51, 51, 1);
color: rgba(51, 51, 51, 1);
background: rgb(253, 227, 206);
}

.project:hover .project-hover {
opacity: 1;
}

.project:hover .project-hover hr {
width: 100%;
height: 3px;
}

.close{
    position: absolute;
    top: 10px;
    right: 10px;
}
#copyright {
    margin-top: 50px;
    text-align: center;
    opacity: 50%;
    background: rgb(253, 227, 206);
    padding: 1em;
  }

p {
  font-family: Delius;
  font-size: 18px;
}

h3.estilo {
  font-family: Delius Swash Caps;
}
